<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- post-processors for all standard config annotations -->
	<context:annotation-config/>

	<bean id="txTemplate" class="ch.jesc.vasap.core.tx.TxTemplate">
		<constructor-arg>
			<ref bean="transactionManager" />
		</constructor-arg>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="${extprop.prod.jdbc.url}" />
		<property name="username" value="${extprop.prod.jdbc.username}" />
		<property name="password" value="${extprop.prod.jdbc.password}" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="20" />
	</bean>

</beans>
